github "ReactiveX/RxSwift" ~> 5.0.1
github "freshOS/Router"
github "muizidn/viewdsl" "0.0.6"
github "layoutBox/FlexLayout"
github "CosmicMind/Material"
github "JonasGessner/JGProgressHUD"
github "hackiftekhar/IQKeyboardManager" "v6.4.0"
github "muizidn/note-deps" "master"
